/* Add CSS styling here */
@font-face {
    font-family: 'ChelseaMarket';
    src: url('/fonts/ChelseaMarket-Regular.ttf')
  }
 
  @font-face {
    font-family: 'RobotoMono';
    src: url('/fonts/RobotoMono-VariableFont_wght.ttf');
  }


.headercontent header nav a {
    margin: -3px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    display: inline-block;
    width: ;
    text-align: center;
    color: black;
    margin-bottom: 20px; 
    background: white;
    text-decoration: none;
    word-spacing: auto;
    position: relative;
    font-size: 100%;
}

header {
    width: 100%;
    background: #313131;
    margin-top: -1%;
    margin-bottom: auto;
    margin-left: -1%;
    padding: 2%;
}

h1 {
    color: white;
    font-size: 300%;
    font-family: 'ChelseaMarket';
}

#pic1 {
    max-width: 40%;
    max-height: 40%;
    margin-top: 1%;
    margin-right: 30%;
    margin-left: 1%;
}

#myname {
    margin-top: -25%;
    margin-right: 30%;
    margin-left: 45%; 
    font-family: 'ChelseaMarket';
    font-size: 150%;
    width: auto;
}

#mynamebutton {
    margin-top: 2%;
    margin-right: 30%;
    margin-left: 45%; 
    font-family: 'RobotoMono';

    border: 4px solid rgb(0, 0, 0);
    padding: 10px;
    display: inline-block;
    width: 10%;
    text-align: center;
    margin-bottom: 20px; 
    background: white;
    text-decoration: none;
}

#mynametext {
    margin-top: 5%;
    margin-right: 30%;
    margin-left: 45%; 

    font-family: 'RobotoMono';
    width: 40%;
    text-align: center;
}

div.row1 {
margin-left: 10%;
margin-right: 10%;
margin-top: 10%;

padding: 10% 0;
display: flex;
flex-direction: row;
justify-content: space-between;
}

div.row2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -10%;

    padding: 10% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    div.row1 img:hover {
        border: 10px dotted #778899;
      }

    div.row2 img:hover {
        border: 10px dotted #778899;
      }


      .footercontent footer nav a {
        color: white;
        font-size: 300%;
        font-family: 'ChelseaMarket';
        margin-left: 30%;
        text-decoration: none;
        display: inline-block;
        

    }
    
    footer {
        width: 100%;
        background: #313131;
        margin-top: 5%;
        margin-bottom: 0%;
        margin-left: -1%;
        padding: 8%;
    }

  #wut {
    color: white;
    font-size: 300%;
    font-family: 'ChelseaMarket';
    margin-left: -10%;
    text-align: center;
  }

  *{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width: width auto;
  }

  html{
    font-size:87.5%;
  }